---
import TabNav from "../projects/TabNav.svelte";
import Project from "../projects/Project.svelte";
---

<div class="grid grid-cols-[1.5fr_70px_3fr] gap-x-10 py-14 px-16 h-full">
  <div class="relative">
    <TabNav client:idle />
  </div>
  <div class="w-2 h-4/5 bg-slate-700 place-self-center rounded-md"></div>
  <div>
    <Project client:idle />
  </div>
</div>
