---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Landing from "../components/screens/Landing.astro";
import Projects from "../components/screens/Projects.astro";
import Blog from "../components/screens/Blog.astro";
import Contact from "../components/screens/Contact.astro";
---

<Layout title="Martin Weber | developer">
  <div class="snap-mandatory snap-y">
    <div
      class="w-screen h-screen flex flex-col snap-center snap-always"
      id="home"
    >
      <Navbar />
      <Landing />
    </div>
    <div class="w-screen h-screen snap-center snap-always" id="exp">
      <Projects />
    </div>
    <div class="w-screen h-screen snap-center snap-always" id="blog">
      <Blog />
    </div>
    <div class="w-screen h-screen snap-center snap-always" id="contact">
      <Contact />
    </div>
  </div>
</Layout>
