---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Landing from "../components/screens/Landing.astro";
import Projects from "../components/screens/Projects.astro";
---

<Layout title="Martin Weber | developer">
  <div class="snap-mandatory snap-y">
    <div
      class="w-screen h-screen flex flex-col snap-center snap-always"
      id="home"
    >
      <Navbar />
      <Landing />
    </div>
    <div class="w-screen h-screen snap-center snap-always" id="exp">
      <Projects />
    </div>
  </div>
</Layout>
