---
---

<div class="navbar justify-end">
  <a href="#home" class="mr-4  hover:underline underline-offset-2">Home</a>
  <a href="#exp" class="mr-4 hover:underline underline-offset-2"
    >Projects | Exp
  </a>
  <a href="#blog" class="mr-4 hover:underline underline-offset-2">Blog</a>
  <a href="#contact" class="mr-4 hover:underline underline-offset-2">Contact</a>
</div>
